body {
    color: white;
    background: #fa92ad;
}

span {
    font-size: 30px;
}

#camera,
#result {
    border: 7px ridge;
    width: 350px;
    height: 300px;
}

#result_emotion_name,
#result_emotion_name2 {
    color: black;
}

.emotion_name {
    font-size: 40px;
}

.emoji {
    font-size: 48px;
}

.heading {
    font-size: 20px;
    font-family: 'Rubik Iso', cursive;
    letter-spacing: 3px;
    border-radius: 10px;
    background-color: #fde1ee;
}

button {
    border-color: #db2049;
    border-radius: 5px;
    background-color: #fde1ee;
    color: #db2049;
    font-size: 17px;
    font-family: 'Rubik Iso', cursive;
}